.pageBackground{
    background-color: white;
}

.searchResultsText{
    font-size: 30px;
    margin-top: 20px;
    color: #0a223a;
    position: relative;
    left: -30px;
}

.downArrow{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 0px 4px 3px 4px;
    cursor: pointer;
    position: relative;
    top: 13px;
    background-color: white;
    margin-right: 5px;
}

.hideSearchText{
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    bottom: -5px;
}

.allResultsContainer{
    max-height: 420px;
    overflow: auto;
}

.greyDivider{
    border: 1px solid #CDCDCD;
    margin-top: 25px;
    margin-bottom: 25px;
}

.askQuestionContainer{
    vertical-align: middle;
}

.enterIcon{
    margin-left: 21px;
    margin-right: 21px;
    cursor: pointer;
}

.relevantText{
    font-size: 20px;
    position: relative;
    left: -30px;
    display: inline-block;
    margin-top: 15px;
}