.resultsContainer{
    vertical-align: middle;
}

.searchQuestion{
    font-size: 24px;
    font-weight: bold;
    margin-left: 18px;
}

.profileImageContainer{
    height: 30px;
    width: 30px;
    margin-left: 4px;
}

.answerContainer{
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 26px 17px 37px 20px;
    margin-top: 6px;
    font-size: 14px;
}

.sparkleContainer{
    display: inline-block;
    width: 33px;
    margin-right: 17px;
}

.boxAnswerContainer{
    display: inline-block;
    font-size: 24px;
}