.App {
  /* background-color: white; */
  height: 100vh;
  background-image: url("./images/WaltDisneyHomepage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Apps {
  padding: 50px;
  background-color: #eee;
}

.get{
  font-size: 24px;
}

.send{
  font-size: 18px;
}

.form-field{
  padding-right: 20px;
  margin-bottom: 20px;
}

.button{
  border-radius: 10px;
  background-color: #1c2dec;
  font-size: large;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.button:hover{
  cursor: pointer;
}

.dropdown-container{
  width: 100%;
  background-color: white;
}

.textholder{
  font-weight: bold;
  margin-bottom: 5px;
}

.MuiOutlinedInput-notchedOutline{
  border-color: none !important;
}